@font-face {
  font-family: 'GilroyLight';
  src        : url('../src/fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'GilroyRegular';
  src        : url('../src/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'GilroyMedium';
  src        : url('../src/fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'GilroySemiBold';
  src        : url('../src/fonts/Gilroy-SemiBold.ttf');
}

@font-face {
  font-family: 'GilroyBold';
  src        : url('../src/fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'Neumann';
  src        : url('../src/fonts/td-neumann.otf');
}

$hoverColor     :#E96C0E;
$iconColor      :#8794B8;
$mainColor      :#171E30;
$borderColor    : #D1D6E3;
$gilroyLight    : 'GilroyLight';
$gilroyRegular  : 'GilroyRegular';
$gilroyMedium   : 'GilroyMedium';
$gilroySemiBold : 'GilroySemiBold';
$gilroyBold     : 'GilroyBold';
// 30px, 20px, 18px, 16px, 14px
$neumann        : 'Neumann';

header,
footer {
  font-family: $gilroyRegular;
}

h1,
h2,
blockquote:before {
  font-family: $neumann;
}

button {
  font-family: $gilroySemiBold;
}

blockquote,
.round__list {
  font-family: $gilroyLight;
}

h2 {
  font-size  : 70px;
  line-height: 80px;
}

h1,
h2,
ul,
p,
blockquote {
  margin : 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

input,
button {
  border: none;
}

input:focus,
button:focus {
  outline: none;
}

img {
  height    : auto;
  object-fit: contain;
}

::-webkit-scrollbar {
  width : 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background   : #DADCDD
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow   : inset 0 0 6px rgba(0, 0, 0, .3);
  background   : #CCCECF;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// body * { scrollbar-width: none; } /* Firefox */

.none {
  display: none;
}

.block,
.baseheader__list {
  display: block;
}

i,
.inlineblock,
::before,
::after,
footer nav a,
.call__buttons {
  display: inline-block;
}

header nav {
  white-space: nowrap;
}

a:hover {
  text-decoration: none;
}

.flexcentbet {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.flexbasestart,
#about ul>li {
  display        : flex;
  align-items    : baseline;
  justify-content: flex-start;
}

.flexstartbet {  /**/
  display        : flex;
  align-items    : flex-start;
  justify-content: space-between;
}

.flexcenter {  /**/
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.flexcentstart {
  display        : flex;
  align-items    : center;
  justify-content: flex-start;
}

.flexcolcent { /**/
  display        : flex;
  flex-flow      : column;
  align-items    : center;
  justify-content: center;
}

.flexwrap { /**/
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.userselect {
  user-select: none;
}

.pointer,
button {
  cursor: pointer;
}

.email,
.call {
  width       : 14px;
  height      : 12px;
  margin-right: 6px;
}

.insta,
.facebook {
  width      : 35px;
  height     : 35px;
  margin-left: 15px;
  stroke     : white;
  transition : stroke .2s ease-in-out;
}

svg {
  fill: none;
}

.insta:hover,
.facebook:hover {
  stroke: $hoverColor;
}

nav {
  color: $iconColor;
}

nav a,
h1,
button,
footer {
  color: white;
}

a:hover {
  color: $hoverColor;
}

.round__list svg {
  max-width   : 15px;
  min-width   : 15px;
  height      : 15px;
  margin-right: 15px;
}

a {
  transition: all .2s ease-in-out;
}

blockquote {
  font-style: italic;
}

blockquote:before {
  content   : "\201C";
  position  : absolute;
  font-size : 80px;
  font-style: normal;
}

body {

  section {
    max-width: 1170px;
    margin   : 0 auto;
    padding  : 0 20px;
  }

  button {
    position        : absolute;
    left            : 0;
    top             : 0;
    height          : 52px;
    background-image: linear-gradient(270deg, #E9760C 4.09%, #E62B1F 100%);
    box-shadow      : 0px 14px 6px rgba(21, 30, 53, 0.5);
    border-radius   : 25px;
    transition      : opacity .2s ease-in-out;
  }

  button:nth-of-type(2) {
    background: linear-gradient(270deg, #6583D5 4.09%, #1656E0 99.5%);
    opacity   : 0;
  }

  button:nth-of-type(2):hover {
    opacity: 1;
  }

  header {
    background     : url(../img/bg_header.png) center center no-repeat;
    background-size: cover;

    nav {
      padding-top: 45px;
    }

    li:nth-child(-n+5)>a:link {
      padding      : 12px 22px;
      border       : 1px solid transparent;
      border-radius: 25px;
    }

    li:nth-child(-n+5)>a:hover {
      border-color: $hoverColor;
    }

    h1 {
      margin-top: 140px;
      font-size : 110px;
    }

    blockquote {
      max-width : 490px;
      margin-top: 80px;
      font-size : 18px;
      color     : $iconColor;
    }

    blockquote::before {
      top  : -45px;
      left : 0;
      color: #515D7E;
    }

    .call__buttons {
      margin-top   : 60px;
      margin-bottom: 115px;
    }

    button {
      width: 260px;
    }
  }

  main {
    color: $mainColor;

    blockquote {
      border: 1px solid $borderColor;
      background: #fff;
    }

    blockquote::before {
      top  : 0;
      left : 20px;
      color: #C3C9DB;
    }

    blockquote::after {
      content   : "";
      position  : absolute;
      width: 50px;
      height: 35px;
      top: -15px;
      right: 30px;
      box-shadow: 2px -2px 0 -1px #D1D6E3;
      transform: skewX(-20deg) skewY(-34deg);
      background: #fff;
    }

    #about {
      padding-bottom : 80px;
      // background     : url(../img/about.png) 100% center no-repeat;
      // background-size: contain;

      h2 {
        margin-top   : 60px;
        margin-bottom: 20px;
      }

      .round__list {
        max-width: 320px;
      }

      blockquote {
        max-width : 500px;
        margin-top: 85px;
        padding   : 40px 30px 20px 70px;
      }
    }

  }

  footer {
    background: #223A72;

  }
}

#contactModal {
  display   : none;
  position  : fixed;
  left      : 0;
  top       : 0;
  width     : 100%;
  height    : 100%;
  overflow  : auto;
  background: rgba(0, 0, 0, 0.4);
  z-index   : 9999;
}

#contactModal>div {
  width     : 560px;
  margin    : 5% auto;
  background: var(--white);
}

.aboutcontainer {
  background: linear-gradient(rgba(52, 52, 52, 0.19), rgba(52, 52, 52, 0.19)),
    url(../img/about.png) center center no-repeat;
  background-size: cover;
}


@media screen and (max-width: 1024px) {
  .none1024 {
    display: none;
  }

  body header h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 768px) {
  .column768 {
    flex-flow: column;
  }
}