@font-face {
  font-family: 'GilroyLight';
  src        : url('../src/fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'GilroyRegular';
  src        : url('../src/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'GilroyMedium';
  src        : url('../src/fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'GilroySemiBold';
  src        : url('../src/fonts/Gilroy-SemiBold.ttf');
}

@font-face {
  font-family: 'GilroyBold';
  src        : url('../src/fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'Neumann';
  src        : url('../src/fonts/td-neumann.otf');
}

$hoverColor     :#E96C0E;
$iconColor      :#8794B8;
$mainColor      :#171E30;
$borderColor    : #D1D6E3;
$lineColor      : #F0F3FA;
$gilroyLight    : 'GilroyLight';
$gilroyRegular  : 'GilroyRegular';
$gilroyMedium   : 'GilroyMedium';
$gilroySemiBold : 'GilroySemiBold';
$gilroyBold     : 'GilroyBold';
$neumann        : 'Neumann';

header,
footer {
  font-family: $gilroyRegular;
}

h1,
h2,
blockquote:before {
  font-family: $neumann;
}

.call__buttons button {
  font-family: $gilroySemiBold;
}

.round__list {
  font-family: $gilroyLight;
}

h1,
h2 {
  font-weight: normal;
}

h2 {
  font-size  : 70px;
  line-height: 80px;
}

a,
.call__buttons button,
.round__list {
  font-size: 16px;
}

p {
  line-height: 20px;
}

h1,
h2,
ul,
p,
blockquote {
  margin : 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

input,
.call__buttons button {
  border: none;
}

input:focus,
.call__buttons button:focus {
  outline: none;
}

img {
  height    : auto;
  object-fit: contain;
}

::-webkit-scrollbar {
  width : 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background   : #DADCDD
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow   : inset 0 0 6px rgba(0, 0, 0, .3);
  background   : #CCCECF;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// body * { scrollbar-width: none; } /* Firefox */

.section {
  max-width: 1160px;
  margin   : 0 auto;
  padding  : 0 10px;
}

.none {
  display: none;
}

.block,
.baseheader__list {
  display: block;
}

i,
.inlineblock,
::before,
::after,
footer nav a {
  display: inline-block;
}

header nav {
  white-space: nowrap;
}

a,
a:hover {
  text-decoration: none;
}

.flexcentbet {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.flexbasestart,
.round__list>li {
  display        : flex;
  align-items    : baseline;
  justify-content: flex-start;
}

.flexstartaround {
  display        : flex;
  align-items    : flex-start;
  justify-content: space-around;
}

.flexstartbet {
  display        : flex;
  align-items    : flex-start;
  justify-content: space-between;
}

.flexstretchbet {
  display        : flex;
  align-items    : stretch;
  justify-content: space-between;
}

.flexwrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.pointer,
button,
.header__burger,
.close {
  cursor: pointer;
}

.email,
.call {
  width       : 14px;
  height      : 12px;
  margin-right: 6px;
  fill        : none;
  stroke      : $iconColor;
}

.insta,
.facebook {
  width      : 35px;
  height     : 35px;
  margin-left: 15px;
  fill       : none;
  stroke     : white;
  transition : stroke .2s ease-in-out;
}

.insta:hover,
.facebook:hover {
  stroke: $hoverColor;
}

nav {
  color: $iconColor;
}

nav a,
h1,
.call__buttons button,
footer {
  color: white;
}

a:hover {
  color: $hoverColor;
}

.round__list svg {
  max-width   : 15px;
  min-width   : 15px;
  height      : 15px;
  margin-right: 15px;
  fill        : none;
}

a {
  transition: all .2s ease-in-out;
}

blockquote {
  font-style: italic;
}

blockquote:before {
  content   : "\201C";
  position  : absolute;
  font-size : 80px;
  font-style: normal;
}

/* body */
body {

  .call__buttons button {
    position        : absolute;
    left            : 0;
    top             : 0;
    height          : 52px;
    background-image: linear-gradient(270deg, #E9760C 4.09%, #E62B1F 100%);
    box-shadow      : 0px 14px 6px rgba(21, 30, 53, 0.5);
    border-radius   : 25px;
    transition      : opacity .2s ease-in-out;
  }

  .call__buttons button:nth-of-type(2) {
    background: linear-gradient(270deg, #6583D5 4.09%, #1656E0 99.5%);
    opacity   : 0;
  }

  .call__buttons button:nth-of-type(2):hover {
    opacity: 1;
  }

  header {
    background     : url(../img/bg_header.png) center center no-repeat;
    background-size: cover;

    nav {
      padding-top: 45px;

      .header__burger {
        width       : 45px;
        height      : 49px;
        margin-right: auto;
        z-index     : 9999;

        i {
          position     : absolute;
          right        : 0;
          width        : 44px;
          height       : 6px;
          border-radius: 25px;
          background   : white;
          transition   : all .2s;
        }

        i:nth-of-type(1) {
          top: 13px;
        }

        i:nth-of-type(2) {
          top: 22px;
        }

        i:nth-of-type(3) {
          top: 31px;
        }

      }

      .header__burger.active {
        i:nth-of-type(2) {
          opacity: 0;
        }

        i:nth-of-type(1),
        i:nth-of-type(3) {
          width: 38px;
          top  : 23px;
        }

        i:nth-of-type(1) {
          transform: rotate(-45deg);
        }

        i:nth-of-type(3) {
          transform: rotate(45deg);
        }
      }

      li:nth-child(-n+5)>a:link {
        padding      : 12px 22px;
        border       : 1px solid transparent;
        border-radius: 25px;
      }

      li:nth-child(-n+5)>a:hover {
        border-color: $hoverColor;
      }

      p {
        font-size  : 14px;
        line-height: 24px;
      }

    }

    h1 {
      margin-top: 160px;
      font-size : 110px;
    }

    blockquote {
      max-width  : 490px;
      margin-top : 80px;
      font-family: $gilroyRegular;
      font-size  : 18px;
      line-height: 24px;
      color      : $iconColor;

    }

    blockquote::before {
      top  : 0;
      left : 0;
      color: #515D7E;
    }

    .call__buttons {
      display          : inline-block;
      margin-top       : 60px;
      margin-bottom    : 170px;

      button {
        width: 260px;
      }
    }
  }

  main {
    color: $mainColor;

    blockquote {
      border     : 1px solid $borderColor;
      font-family: $gilroyLight;
      line-height: 20px;
      background : #fff;
    }

    blockquote::before {
      top  : 45px;
      left : 20px;
      color: #C3C9DB;
    }

    blockquote::after {
      content   : "";
      position  : absolute;
      width     : 50px;
      height    : 35px;
      top       : -17px;
      right     : 30px;
      box-shadow: 1px -1px 0 0 #D1D6E3;
      transform : skewX(-20deg) skewY(-35deg);
      background: #fff;
    }

    p {
      font-size: 16px;
    }

    #about {
      padding-top: 80px;

      >article {
        max-width: 500px;

        h2 {
          margin-bottom: 30px;
        }

        .round__list {
          width        : 100%;
          margin-bottom: 20px;

          li {
            padding: 4px 4px 4px 0;
          }
        }

        .about__quote {
          margin-top   : 20px;
          margin-bottom: 60px;

          blockquote {
            padding: 6% 6% 6% 12%;
          }
        }
      }

      img {
        width : 50%;
        height: 680px;
      }
    }

    .career {
      padding   : 80px 0;
      background: $lineColor;

      img {
        margin-left : -35%;
        margin-right: 80px;
      }

      img,
      h2,
      p {
        margin-bottom: 20px;

        span {
          font-weight: bold;
        }
      }

      p {
        font-family: $gilroyMedium;
      }
    }

    .sertificate {
      padding   : 80px 0 90px;
      background: linear-gradient(180deg, rgba(239, 242, 250, 0) 0%, #EFF2FA 100%);

      .sertificate__top {
        img {
          min-width   : 40%;
          height      : 600px;
          margin-right: 20px;
        }

        h2 {
          margin-bottom: 40px;
        }

        blockquote {
          max-width    : 80%;
          margin-bottom: 20px;
          padding      : 10% 5% 5%;

          p {
            margin-bottom: 20px;
          }
        }

        blockquote::after {
          right: 115px;
        }
      }

      .slider {
        margin-top   : 40px;
        margin-bottom: 40px;
        padding      : 0 55px;

        .slick-slide {

          img {
            margin: auto;
          }
        }

        .slick-next::before,
        .slick-prev::before {
          font-family  : $gilroyMedium;
          font-size    : 30px;
          padding      : 8px 11px;
          border-radius: 55%;
          border       : 2px solid $iconColor;
          color        : $iconColor;
          opacity      : unset;
        }
      }

      .sertificate__icons {
        text-align: center;

        >div {

          max-width: 165px;

          svg {
            width : 60px;
            height: 60px;
          }

          h5 {
            font-family   : $gilroyBold;
            font-size     : 18px;
            border-bottom : 1px solid $iconColor;
            width         : 120px;
            margin        : 10px auto;
            padding-bottom: 10px;
          }

          p {
            font-family: $gilroyLight;
            line-height: 20px;
          }
        }
      }

    }

    .services {
      border-top: 2px solid $lineColor;

      .services__header {
        margin-top   : auto;
        margin-bottom: auto;
        padding      : 20px 0;
      }

      h3 {
        margin-top   : 60px;
        margin-bottom: 20px;
        font-size    : 30px;
        font-family  : $gilroyRegular;
      }

      .section>div {
        flex       : 1 50%;
        display    : flex;
        flex-flow  : column;
        border-left: 2px solid $lineColor;

        .services__list {
          margin-left  : 40px;
          margin-bottom: auto;

          article {
            max-width: 55%;
          }

          li {
            padding: 4px 0;
          }

          img {
            position: absolute;
            top     : 0;
            right   : 0;
            width   : 287px;
            height  : 376px;
            z-index : -99;
          }

        }

        .services__call {
          margin-top   : 20px;
          margin-bottom: 50px;

          .services__contract {
            width                     : 41%;
            border-top-right-radius   : 25px;
            border-bottom-right-radius: 25px;
            background                : $lineColor;

            svg {
              width : 32px;
              height: 30px;
              margin: 10px auto;
            }

            p {
              margin-right: auto;
              font-family : $gilroyRegular;
            }
          }

          button {
            width     : 48%;
            height    : 50px;
            left      : unset;
            right     : 10px;
            box-shadow: unset;
          }
        }
      }

      .section>div:last-child {
        border-right: 2px solid $lineColor;
      }

      form {
        height         : 100%;
        margin-bottom  : 40px;
        padding        : 15% 5% 15% 5%;
        background     : url(../img/form_bg.jpg) center center no-repeat;
        background-size: cover;
        color          : white;

        p {
          font-family  : $gilroyRegular;
          font-size    : 30px;
          margin-top   : 20px;
          margin-bottom: 30px;
        }

        .person,
        .call {
          position: absolute;
          left    : 5%;
          top     : 25%;
          width   : 20px;
          height  : 20px;
          fill    : none;
          stroke  : $iconColor;
        }

        input {
          width        : 65%;
          height       : 52px;
          margin-bottom: 20px;
          padding-left : 13%;
          border       : 1px solid #FFFFFF;
          border-radius: 25px;
          font-family  : $gilroySemiBold;
          font-size    : 16px;
          color        : white;
          background   : rgba(255, 255, 255, 0.2);
        }

        input::placeholder {
          font-family: $gilroyRegular;
          font-size  : 16px;
          color      : $iconColor;
        }

        input:focus+svg {
          stroke      : white;
          stroke-width: 2px;
        }

        .call__buttons {
          margin-top: 20px;

          button {
            width: 260px;
          }
        }

      }

    }

    .public {
      margin-bottom: 40px;

      .public__box {
        flex  : 1 360px;
        margin: 20px 10px;

        .public__img {
          width : 100%;
          height: 210px;
        }

        a,
        p {
          display           : -webkit-box;
          -webkit-box-orient: vertical;
          overflow          : hidden;
          -webkit-line-clamp: 2;
        }

        a {
          font-family  : $gilroySemiBold;
          font-size    : 20px;
          line-height  : 25px;
          margin-top   : 20px;
          margin-bottom: 20px;
          color        : $mainColor
        }

        p {
          font-family: $gilroyLight;
          font-size  : 16px;
          line-height: 20px;
        }
      }

      .public__box:nth-of-type(1) .public__img {
        background: url(../img/public_01.png) center center no-repeat, url(../img/public_00.png) center center no-repeat;
      }

      .public__box:nth-of-type(2) .public__img {
        background: url(../img/public_02.png) center center no-repeat, url(../img/public_00.png) center center no-repeat;
      }

      .public__box:nth-of-type(3) .public__img {
        background: url(../img/public_03.png) center center no-repeat, url(../img/public_00.png) center center no-repeat;
      }
    }
  }

  footer {
    background: #223A72;

    nav ul {
      padding-top  : 40px;
      margin-bottom: 70px;

      p {
        font-size  : 14px;
        line-height: 24px;
      }
    }

    >p {
      display        : flex;
      justify-content: center;
      padding-bottom : 40px;
      font-size      : 16px;
    }
  }

  .canvas,
  #contactModal {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    overflow: auto;
  }

  .canvas {
    background: rgba(21, 30, 53, 0.5);
    z-index   : 99;
  }

  #menuModal {
    position  : absolute;
    top       : 0;
    left      : -100%;
    width     : 100%;
    transition: all .2s;
    background: url(../img/libra_nav.png) center 5% no-repeat, #1C3A87;
    z-index   : 999;

    >div {
      padding    : 90px 20% 10% 15%;
      font-family: $gilroyRegular;

      ul li a {
        display      : inline-block;
        font-size    : 20px;
        padding      : 12px 22px;
        border       : 1px solid transparent;
        border-radius: 25px;
        color        : white;

      }

      ul {
        padding-bottom: 30px;

        li a:hover {
          border-color: $hoverColor;
        }
      }

      .menumodal__call {
        padding-top: 30px;
        border-top : 1px solid #425483;

        a {
          font-size: 14px;
          color    : white;
        }

        p {
          font-size  : 12px;
          line-height: 24px;
          color      : $iconColor;
        }
      }
    }
  }

  #menuModal.active {
    left: -5%;
  }

  #contactModal {
    background: rgba(21, 30, 53, .1);
    z-index: 9999;

    >div {
      width          : 560px;
      margin         : 2% auto 0;
      padding        : 40px 3% 90px;
      background     : url(../img/form_bg.jpg) center center no-repeat;
      background-size: cover;

      i {
        display    : block;
        width      : 40px;
        height     : 40px;
        margin-left: auto;
        background : url(../img/close.png) center center no-repeat;
      }

      form {
        color: white;

        h2 {
          margin-bottom: 20px;
        }

        p {
          font-family  : $gilroyRegular;
          font-size    : 30px;
          margin-bottom: 30px;
        }

        .person,
        .call {
          position: absolute;
          left    : 5%;
          top     : 25%;
          width   : 20px;
          height  : 20px;
          fill    : none;
          stroke  : $iconColor;
        }

        input {
          width        : 65%;
          height       : 52px;
          margin-bottom: 20px;
          padding-left : 13%;
          border       : 1px solid #FFFFFF;
          border-radius: 25px;
          font-family  : $gilroySemiBold;
          font-size    : 16px;
          color        : white;
          background   : rgba(255, 255, 255, 0.2);
        }

        input::placeholder {
          font-family: $gilroyRegular;
          font-size  : 16px;
          color      : $iconColor;
        }

        input:focus+svg {
          stroke      : white;
          stroke-width: 2px;
        }

      }

      .call__buttons {
        button {
          width: 260px;
        }
      }
    }
  }
}

body.active {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .none1024 {
    display: none;
  }

  .block1024 {
    display: block;
  }

  .column1024 {
    flex-flow: column;
  }

  body {

    header {

      nav {
        padding-top   : 15px;
        padding-bottom: 10px;
        border-bottom : 1px solid #425483;

        li:nth-child(8) {
          margin-right: auto;
        }
      }

      h1 {
        font-size: 65px;
      }
    }

    main {

      #about {

        >img {
          max-width : 100%;
          min-width : 100%;
          max-height: 100%;
          min-height: 100%;
        }

        >article {
          max-width: 100%;

          .about__quote {
            position: absolute;
            bottom  : 3%;
            width   : 80%;
            left    : 0;
            right   : 0;
            margin  : 0 auto;

            ::after {
              width    : 35px;
              height   : 30px;
              top      : -11px;
              transform: skewX(60deg) skewY(-35deg);
            }
          }
        }

      }

      .sertificate {
        padding: 20px 0;

        .sertificate__top {

          >img,
          >article {
            order: 2;
            width: 100%;
          }

          >img {
            margin-right: unset;
          }

          >article {
            order: 1;
          }

          .slider {
            order: 3;
          }

        }

        blockquote {
          max-width: 100%;
        }
      }

      .services .section {

        >div:first-child {
          border-right: 2px solid $lineColor;
        }

        >div:last-child {
          border-top: 2px solid $lineColor;
        }

        >div .services__list article {
          max-width: 100%;
        }

        .services__list img {
          opacity: .2;
        }

      }

    }

  }

}

@media screen and (max-width: 768px) {
  .column768 {
    flex-flow: column;
  }

  h2 {
    font-size  : 40px;
    line-height: 48px;
  }

  body {
    blockquote:before {
      font-size: 60px;
    }

    header {
      blockquote {
        font-size  : 14px;
        line-height: 16px;
      }

      blockquote::before {
        // font-size: 110px;
      }
    }

    main {

      p,
      blockquote {
        font-size  : 14px;
        line-height: 16px;
      }

      blockquote::before {
        top : 30px;
        left: 10px;
      }

      #about {
        padding-top: 20px;
      }

      .career {
        padding: 40px 0;

        img {
          margin-left : -35%;
          margin-right: unset;
          width       : 100%;
        }
      }

      .sertificate {
        .sertificate__top {
          img {
            height: 400px;
          }
        }

        .sertificate__icons {
          >div {
            max-width: 135px;

            svg {
              width : 40px;
              height: 40px;
            }

            h5 {
              font-size: 15px;
              width    : 100px;
            }

            p {
              font-size: 12px;
            }
          }
        }
      }

      .services {
        form {
          padding: 30px 5% 70px;

          p {
            font-size: 20px;
          }

          input {
            width: 85%;
          }

          .call__buttons {
            margin-top: 10px;
          }
        }
      }
    }

    footer {
      nav ul {
        padding-top  : 20px;
        margin-bottom: 20px;

        .facebook,
        .insta {
          margin: 20px;
        }
      }

      >p {
        font-size  : 12px;
        line-height: 14px;
      }
    }

    #contactModal {
      >div {
        form {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  body {
    header {
      background-position-x: 68%;

      h1 {
        margin-top: 10px;
        text-align: center;
      }

      blockquote {
        max-width : 90%;
        margin    : 320px auto 20px;
        text-align: center;
      }

      .call__buttons {
        // margin: 0 auto;
        // width : 260px;
      }
    }

    main {
      #about {
        >img {
          height: 100%;
        }

        p {
          font-size: 12px;
        }
      }

      .services .section>div .services__call .services__contract {
        width: 47%;
      }
    }

    #menuModal>div {
      padding: 90px 5% 60% 10%;
    }

    #contactModal {
      >div {
        width: 90%;

        form {
          input {
            width: 85%;
          }
        }
      }
    }
  }
}